<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Classification</title>
    <h1>Flask: Predicting the topic of news article given the article</h1>
    <h3>Input an article to predict its topic:</h3>
    <form action="{{ url_for('home') }}" method="post">
        <textarea name="article" rows="8" cols="60" placeholder="Paste article here"></textarea>
        <p></p>
        <button type="submit" value="Submit">Submit</button>
    </form>
</head>
<body>

</body>
</html>